<div id="accordion">yui
    <div class="card" ng-repeat="user in users">
        <div class="card-header" id="heading{{$index}}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                    {{user.firstName}}
                </button>
            </h5>
        </div>

        <div id="collapse{{$index}}" class="collapse" aria-labelledby="heading{{$index}}" data-parent="#accordion">
            <div class="card-body">
                {{user.firstName}} has the following accounts:
                <ul>
                    <li ng-repeat="account in user.accounts">{{account.name}} account <a ng-href="/account/{{account.id}}">(details)</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>